<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <!-- ALL BLACK BACKGROUND -->
  <style>
      body{
          background-color:white;
      }
  </style>
</head>

<body>
    <!-- container -->
  <div class="container-fluid">
      <!-- button with jumbotron -->
    <div class="jumbotron text-center">
      <h1 class="display-4" style="color: tomato">Welcome To Mars</h1>
      <a class="btn btn-lg text-white" style="background-color:#949494; color: white" href="scrape" role="button">Scrape New Mars Data</a>
    </div>
    
    <!-- add recent news -->
<div class="row">
    <div class="col-md-12">
        <div class="media">
            <div class="media-body">
                <h2 style="color:black">The Most Recent Mars News</h2>
                <h4 class="medi-heading" style="color:tomato"><b>{{mars_data.header}}</b></h4>
                <h5 style="color:black"><p>{{mars_data.paragraph}}</p></h5>
            </div>
        </div>
    </div>
</div>
  <!-- add featured image -->
  <div class="row">
      <div class="col-md-6">
        <div class="box">
          <h2 style="color:black"><b>Featured Mars Image</b></h2>
          <img src = "{{mars_data.featured_image}}" class="img-responsive">
        </div>
    </div>
  <!-- add HTML table with mars facts -->
    <br>
    <div class="row">
      <div class="col-md-6">
      <div class="table-responsive" style="overflow-x:auto; overflow-y:auto; max-height:470px; max-width: auto;"> 
        <table border="1" class="table table-dark table-hover">
       <!-- Hemisphere Images                                                     -->
      <h3 style="color: black">Mars Facts</h3>
      <div class="col-md-12" style="color: white">
        {{mars_data.facts|safe}}
      </div>
      </div>
      </div>
    </div>
  <h3 style="padding-top: 50px; margin-top: 100px; text-align: center;">Mars Hemispheres</h3>
  <div class="card-deck">
      <div class="col-md-12">
          <div class="row">
              {% for image in mars_data.Mars_Images %}
              <div class="col-md-6">
                  <div class="card text-white bg-dark" style="margin: 30px;">
                      <img class="card-img-top" src="{{ mars_data.Mars_Images[1].img_url }}" />
                      <div class="card-body">
                        
                          <p class="card-text">{{ mars_data.Mars_Images[1].title | safe}}</p>
                          
                      </div>
                      {% endfor %}
                  </div>
              </div>
          </div>
          
      </div>
  </div>
  </div>
          <!-- Bootstrap JS -->
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
</body>
</html>
